#js_cookies-information.js_cookies-information
	.wrap
		.js_cookies-information__container
			img.js_cookies-information__img(src="/images/cookies.png" alt="Ciasteczka")
			p.js_cookies-information__text
				| W naszym serwisie wykorzystujemy pliki Cookies. Są one zapisywane na dysku urządzenia końcowego użytkownika w celach statystycznych oraz ułatwienia korzystania z serwisu. Ustawienia te zawsze można zmienić. Szczegółowe informacje o plikach Cookies znajdują się w <a href="#" target="_blank">Polityce Prywatności</a>
			button.js_cookies-information-exit.js_cookies-close(tabindex='0')
				.js_cookies-information-exit__icon
