.row--footer {
	@include space(20px);
}

.footer {
	padding: 35px 0;
	overflow: hidden;
	background-color: color('primary');

	&__item {
		> * {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		margin: 20px 0;
		color: color('white');
		font-size: 28px;
		font-weight: 200;
	}

	&__content {
		color: color('black');
		font-size: 16px;
	}
}
