@include responsive($breakpoints) {
	$prefix: &;

	@at-root .#{$prefix}flex {
		&-y-end {
			align-items: flex-end;
		}

		&-y-center {
			align-items: center;
		}

		&-column {
			flex-direction: column;
		}

		&-space-between {
			justify-content: space-between;
		}

		&-samesize {
			display: flex;
			flex: 1 1 auto;
		}

		&-full {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
		}
	}
}
