@include responsive($breakpoints) {
	$prefix: &;

	@at-root .#{$prefix}no {
		&-width {
			width: auto !important;
		}

		&-max-width {
			max-width: none !important;
		}

		&-min-width {
			min-width: none !important;
		}

		&-height {
			height: auto !important;
		}

		&-max-height {
			max-height: none !important;
		}

		&-min-height {
			min-height: none !important;
		}
	}
}
