// Base

// Pass variables to JavaScript
:root {
	--scrollbarWidth: 0;
}

body,
html {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

body {
	@extend %scrollbar-placeholder;

	background-color: color('secondary');
	color: color('default');
	font-family: $font-family;
	font-size: 16px;
}

// scrollbar
.scrollbar,
body {
	@include scrollbar(5px, color('primary'), color('secondary'));
}

svg,
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: visible;
	transition: color 0.2s;
	fill: currentColor;
	color: currentColor;
	vertical-align: middle;
	pointer-events: none;
}

img {
	max-width: 100%;
	height: auto;
	image-rendering: optimizeQuality;
}

* {
	touch-action: manipulation;
}

.page {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	margin: 25px 0;
}

.background {
	pointer-events: none;
	user-select: none;
}
