.table-scrollable {
	overflow-x: auto;
	overflow-y: hidden;
}

.table {
	display: block;
	width: 680px;
	overflow-x: auto;
	border-collapse: separate;
}

table {
	caption {
	}

	tr {
		td {
		}
	}

	th {
		td {
		}
	}

	thead {
		tr {
			td {
			}
		}

		th {
			td {
			}
		}
	}

	tbody {
		tr {
			td {
			}
		}

		th {
			td {
			}
		}
	}

	tfoot {
		tr {
			td {
			}
		}

		th {
			td {
			}
		}
	}
}
