footer.footer#footer
	.wrap.wrap--footer
		.row.row--footer

			.col-12.md_col-4
				.footer__item
					h2.footer__title
						| Footer title 1
					.footer__content
						| Lorem ipsum, dolor sit amet consectetur adipisicing elit

			.col-12.md_col-4
				.footer__item
					h2.footer__title
						| Footer title 2
					.footer__content
						| Lorem ipsum, dolor sit amet consectetur adipisicing elit

			.col-12.md_col-4
				.expand__content
					.footer__item
						h2.footer__title
							| Footer title 3
						.footer__content
							| Lorem ipsum, dolor sit amet consectetur adipisicing elit.