header#header.header
	#header-content.header__content
		.wrap
			.row.row-header-space.flex-space-between

				.col-shrink.col-y-center
					a.logo(href="/" title="Sonova")
						img(src="../../images/svg/Sonova_Logo.svg" alt="Sonova logo")

				.col-shrink.col-y-center
					a.user
						:svg(file="user2")
						span Maciej Dziura

					//- #burger-button.burger-button
					//- 	.plank
					//- 	.plank
					//- 	.plank

					//- #burger-menu.burger-content
					//- 	#burger-menu-container.burger-content__container.flex-y-center
					//- 		include navigation

					//- #burger-overlay.burger-overlay.overlay

	include navigation.pug
