<!--[if lte IE 9]>
	.info-old-browser
		p
			| Korzystasz z <strong>przestarzałej</strong> przeglądarki. Proszę <a class="underline" ref="nofollow" target="_blank" href="http://browsehappy.com/">uaktualnij ją</a>.
<![endif]-->