noscript
	.info-no-script
		.info-no-script__content
			p.info-no-script__header
				| Przeglądarka zablokowała wykonywanie kodu <strong>JavaScript</strong>.
			p.info-no-script__text
				| Do pełnej funkcjonalności strony potrzebujesz włączonej obsługi skryptów. <a class="underline" href="https://www.enable-javascript.com/pl/" rel="nofollow" target="_blank">Tu znajdziesz instrukcje</a>, które pozwolą Ci włączyć skrypty w Twojej przeglądarce.