nav.burger-content__item.list-navigation
	a.list-navigation__item(href="/")
		| Home
	a.list-navigation__item(href="#")
		| Other 1
	a.list-navigation__item(href="#")
		| Other 2
	a.list-navigation__item(href="#")
		| Other 3
	a.list-navigation__item(href="#")
		| Contact

.burger-content__item.is_burger-content--visible
	| Visible only when burger is visible	
